<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet"   type="text/css" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/static/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/static/layer/layer.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/static/js/common.js}"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1>
                    Hello, world!
                </h1>

                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>